---
import CodeTag from "@/components/code/CodeTag"
import BlogPostLayout from "@/layouts/BlogPostLayout.astro"
import { Image } from "astro:assets"
import { getCollection } from "astro:content"

export async function getStaticPaths() {
  const blogEntries = await getCollection("project")
  return blogEntries.map((entry: any) => ({
    params: { slug: entry.slug },
    props: { entry },
  }))
}
interface Props {
  entry: any
}

const { entry } = Astro.props
const { Content } = await entry.render()
---

<BlogPostLayout title={entry.data.title}>
  <Image src={entry.data.cover} alt={entry.data.title} class="w-full" />
  <h1>{entry.data.title}</h1>
  <div class="flex flex-row flex-wrap items-center gap-1.5">
    {entry.data.tags.map((tag: string) => <CodeTag tag={tag} />)}
  </div>
  <Content />
</BlogPostLayout>
