---
import Layout from "../../layouts/Layout.astro"

import { getCollection, getEntry } from "astro:content"
const allDevLog = await getCollection("devlog")
---

<Layout title={"Dev Log"}>
  <div class="grid-col-1 grid gap-4 p-6 md:grid-cols-2 lg:grid-cols-3">
    {
      allDevLog.map((devLog: any) => (
        <a href={`/devlog/${devLog.slug}`}>
          <div class="w-full rounded-xl bg-gray-50 p-6">
            <h4 class="font-bold">{devLog.data.title}</h4>

            <div class="text-sm text-opacity-55">
              <time datetime={devLog.data.date}>{devLog.data.date}</time>
            </div>
            <div class="mt-2 flex flex-row flex-wrap items-center gap-1">
              {devLog.data.tags.map((tag: string) => (
                <span class="rounded-full bg-gray-200 px-2 py-1 text-xs text-gray-800">
                  {tag}
                </span>
              ))}
            </div>
          </div>
        </a>
      ))
    }
  </div>
</Layout>
